.tic-container {
    padding-left: 40vw;
    padding-top: 7vh;
  }
  
.tic-main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  
  .col {
    display: flex;
  }
  
  .cell {
    width: 89px;
    height: 89px;
    border: 1px solid rgb(126, 16, 16);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(0, 204, 255);
    font-weight: 900;
  }
  
  .video_game_button {
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 12.5%;
    background-color: rgb(0, 204, 255);
    box-shadow: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 5px;
    padding-left: 5px;
  }
  
  .video_game_button:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
  }

  .turn {
    text-align: center;
  }

  .button-postion{
    margin: 0;
    padding: 0;
    margin-left: 45vw;
    color: rgb(0, 204, 255);;
  }